

{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %} {{title}} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load bootstrap5 %}

<div>
  <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <h1 class="text-center">{{title_form}}</h1>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
      </form>
    </div>
  </body>
</div>

{% endblock content %}

