

{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %} Cadastrar Membro {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load bootstrap5 %}

<div>
  <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <h1 class="text-center">Cadastrar Membro</h1>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
      </form>
    </div>
  </body>
</div>

<script>
  $(document).ready(function () {
      $('.select2').select2();
  });
</script>


{% endblock content %}

