

{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %} Cadastrar Mensalidade {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{{ form.media.css }}
{% endblock stylesheets %}

{% block content %}

{% load bootstrap5 %}

<div>
  <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <h1 class="text-center">Mensalidade</h1>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
      </form>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      {{ form.media.js }}
    </div>
  </body>
</div>



{% endblock content %}



