

{% extends 'layouts/base-index.html' %}
{% load static %} 
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">{{title}}</h6>
              
            </div>
            
          </div>
          
          <!-- Card stats -->
     

    <!-- Page content -->
    <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class = "col-xl-12 col-md-12">

          <div class="row">
            <div class = "col-xl-12 col-md-12">
              <a class="btn btn-success" href="{% url 'patrimonio_create'%}" role="button">Adicionar Patrimônio</a>
              <br>
            </div>
          </div>
          <br>
          <div class="row">
            <div class = "col-xl-12 col-md-12">
              <table class="table table-light">
                <thead class="">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Nome</th>
                    <th scope="col" class="sort" data-sort="budget">Quantidade</th>
                    <th scope="col" class="sort" data-sort="status">Entidade</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for patrimonio in patrimonios  %}
                  <tr>
                    <td>
                      {{patrimonio.nome}}
                    </td>
                    <td>
                      {{patrimonio.quantidade }}
                    </td>
                    <td>
                      {{patrimonio.entidade}}
                    </td>
                    <td>
                      <a href="{% url 'show_patrimonio' patrimonio.pk %}">
                        <img src="/static/assets/icons/eye.svg">
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
             
            </div>
          </div>
        </div>
      </div>  
        

    

    
    
      
      

      
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
